<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {% endblock %}</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</head>
<body>

<div class="uk-container">

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <div class="uk-navbar-item">DMOJ-GON</div>
        <ul class="uk-breadcrumb">
            <li><a href="{% url 'index' %}">Problems</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        {% if user.is_authenticated %}
            <div class="uk-navbar-item">Welcome, {{ user.username }}</div>
        {% endif %}
        <ul class="uk-navbar-nav">
            <li><a href="/admin">Admin Panel</a></li>
            {# For some reason, the {% url 'django-admin' %} option never worked...#}
        </ul>
        <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

    <h1>
        {% block header %} {% endblock %}
    </h1>

    {% block body %} {% endblock %}
</div>

{% if error %}
    <script>
        UIkit.notification({
            message: '{{ error }}',
            status: 'danger',
        })
    </script>
{% endif %}

</body>
</html>